<div class="center hero-unit">
	<h1>Welcome to Tech Finder</h1>
	<h2>
		Start below by choosing which page you would like to visit first
	</h2>
  <%= link_to "Map View", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "List View", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Register", signup_path, class: "btn btn-large btn-primary" %>
</div>

